body { margin: 0; }
canvas { position: absolute; top: 13%;}



div#controls { position: absolute; z-index: 100; }

form {margin-top: 5px; padding-left: 10px; padding-right: 5px;}

select#speed{padding-left: 10px; padding-right: 5px;}




